/*Notes Syntax*/
/*Actual code starts here*/

/*Adds a specfic font from fonts folder (works without wifi)*/

@font-face {
    src: url(fonts/Lato-Regular.ttf);
    font-family: lato;
}

h1 {
    color: #00f;
    font-size: 70px;
    margin: 0px;
    background-color: rgb(0, 0, 112);
    text-align: center;
    font-weight: 1000;
    text-decoration: underline;
    text-indent: 0px;
    text-transform: capitalize;
    letter-spacing: 0px;
    word-spacing: 0px;
    line-height: 100px;
}

h2 {
    color: rgb(125,0,125);
    font-style: italic;
}

/*Below is used when a h2 is found in a div*/

div h2 {
    color: rgb(125,0,125);
    font-style: normal;
}

/*Classes/ID's below (Used for more specific targetting)*/

.test {
    color: rgb(255,0,255);
}

/*IDs use # and are unique, also helpful for links*/

#test {
    background-color: rgb(128,128,128);
}

/*Targets <p> inside "boxes" with test class*/

.test p {
    font-style: italic;
}

h6 {
    color: rgb(125,125,125);
}

p {
    color: rgb(50,125,125);
}

.font {
  font-family: lato;
}

a {
    text-decoration: none;
}

.custom {
    width: 300px;
    height: 200px;
    background-color: #00f;
}

/*Custom font classes from link*/
.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.comic-neue-light-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;
}

.comic-neue-regular-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: italic;
}

.comic-neue-bold-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}